<%= form_for(@exemplaresproduto) do |f| %>
  <% if @exemplaresproduto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exemplaresproduto.errors.count, "error") %> prohibited this exemplaresproduto from being saved:</h2>

      <ul>
      <% @exemplaresproduto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numr_numeracao %><br>
    <%= f.number_field :numr_numeracao %>
  </div>
  <div class="field">
    <%= f.label :numr_quantidade %><br>
    <%= f.number_field :numr_quantidade %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br>
    <%= f.text_field :produto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
