<p id="notice"><%= notice %></p>

<h1>Listing Exemplaresprodutos</h1>

<table>
  <thead>
    <tr>
      <th>Numr numeracao</th>
      <th>Numr quantidade</th>
      <th>Produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exemplaresprodutos.each do |exemplaresproduto| %>
      <tr>
        <td><%= exemplaresproduto.numr_numeracao %></td>
        <td><%= exemplaresproduto.numr_quantidade %></td>
        <td><%= exemplaresproduto.produto %></td>
        <td><%= link_to 'Show', exemplaresproduto %></td>
        <td><%= link_to 'Edit', edit_exemplaresproduto_path(exemplaresproduto) %></td>
        <td><%= link_to 'Destroy', exemplaresproduto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exemplaresproduto', new_exemplaresproduto_path %>
