<p id="notice"><%= notice %></p>

<p>
  <strong>Numr numeracao:</strong>
  <%= @exemplaresproduto.numr_numeracao %>
</p>

<p>
  <strong>Numr quantidade:</strong>
  <%= @exemplaresproduto.numr_quantidade %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @exemplaresproduto.produto %>
</p>

<%= link_to 'Edit', edit_exemplaresproduto_path(@exemplaresproduto) %> |
<%= link_to 'Back', exemplaresprodutos_path %>
