    <div class="container">

        <!-- Jumbotron Header -->
        <!--<header class="jumbotron hero-spacer">
            <h1>Seja Bem Vindo!</h1>
            <p>Econtrole as mais lindas sapatilhas com os melhores preços.</p>
            <!--<p><a class="btn btn-primary btn-large">Call to action!</a>--</p>        
        </header>-->
   <div class="row">
       <div class="row carousel-holder">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <%primeiro = true%>
                               <% for foto in @produto.fotoproduto%>
                                 <%if primeiro%> 
                                  <div class="item active">
                                    <%= link_to image_tag(foto.image.url(:medium))%>
                                  </div>
                                   <%primeiro = false%>
                                 <%else%>          
                                <div class="item">
                                    <%= link_to image_tag(foto.image.url(:medium))%>
                                </div>
                                 <%end%>
                             <%end%>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>

                      <div class="caption-full">
                        <h4 class="pull-right" style="color:#900"><%= number_to_currency(@produto.valr_sugeridovenda, unit: "R$ ", separator: ",", delimiter: "")%></h4>

                        <h4><a href="#"><%=@produto.nome_produto%></a>
                        </h4>
                        <p><%=@produto.desc_produto%>.</p>
                       </div>
             </div>
         </div>
       </div>
   </div>




 <style type="text/css">

    a:hover {
      color: #0088cc;
      background-color:transparent ;
     }

 </style>